.jobs-main-cont{
    width: 100cqw;
    background-color: black;
}
.filter-alljobs-cont{
   width: 100%;
   display: flex;
}
.filter-cont{
  width: 40%;
}
.alljobs-cont{
    width: 100%;
    padding: 20px;
    color: white;
}